{% extends "base.html" %}
{% block additional_styles %}
<style>
    body {
        flex-direction: row;
        min-height: 100vh;
        padding: 0;
    }
    .invis {
        display: none;
    }
    p {
        color: red;
        margin: 0;
    }
</style>
{% endblock %}
{% block content %}
<body>
    <h1>Login</h1>
    <form id="formlogin">
        <div>
            <label for="username">Usuário:</label> 
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Entrar</button>
        <p id="resposta" class="invis"></p>
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $("#formlogin").submit(function(e) {
        e.preventDefault(); 
        var form = $(this);
        var actionUrl = form.attr('action');
        $.ajax({
            type: "POST",
            url: '/login',
            data: form.serialize(),
            success: function () {
                location.reload()
            },
            error: function () {
                var resposta = $('#resposta');
                resposta.text("Senha errada")
                resposta.removeClass("invis");
            }
        });
    });
</script>
{% endblock %}